$em-base: 20px;
$modular-scale-base: 1em;
$modular-scale-ratio: 1.2;
$wrap-width: 65em;
$text-width: 38em;

$smallcaps-factor: .8;

$type-sans: AkkuratTT, sans-serif;
$type-mono: AkkuratMono, Consolas, Monaco, monospace;

$code-block-bg: gray(97%);
$code-inline-bg: gray(95%);
$code-radius:   5px;

$c-blue:           hsl(200, 100%, 43%);
$c-blue-shade:     hsl(200, 100%, 38%);
$c-blue-dark:      hsl(200, 100%, 31%);
$c-blue-darker:    hsl(200, 100%, 23%);
$c-blue-darkest:   hsl(200, 100%, 18%);

$c-purple: #8647B3;
$c-orange: #FFA940;
$c-orange-dark: #FB9254;
$c-orange-darker: #FA6B4A;
$c-invalid: #FF4040;

$c-gray-bg: #f8f8f8;

$gutter: 2.5em;

$spacings: (
  '+++':  $gutter * 1.5, // 3.75
  '++':   $gutter * 1,   // 2.5
  '+':    $gutter * .6,  // 1.5
  '':     $gutter * .4,  // 1
  '-':    $gutter * .2,  // .5
  '--':   $gutter * .1,  // .25
  '---':  $gutter * .06, // .15
  '0':    0
);

@function spacing($modifier: '') {
  @return map-get($spacings, $modifier);
}

$c-book: (
  functional-swift: (
    start: HSL(38, 88%, 59%),
    stop: HSL(355, 68%, 51%)
  ),
  core-data: (
    start: HSL(199, 95%, 45%),
    stop:  HSL(210, 70%, 40%)
  ),
  advanced-swift: (
    start: HSL(324, 95%, 45%),
    stop:  HSL(292, 62%, 35%)
  )
);

$c-swifttalk: (
  start: #FB9254,
  stop: #FA6B4A
);

$bps: (
  xs: 400px,
  s:  550px,
  m:  700px,
  l:  850px,
  xl: 1000px
);
@function bp($width) {
  @return map-get($bps, $width);
}
