.wrapper {
  max-width: $wrap-width;
  margin-left: auto;
  margin-right: auto;
}

// padding left and right, responsive
.p-edges {
                         padding-left: spacing();     padding-right: spacing();
  @include bp-from(xs) { padding-left: spacing('+');  padding-right: spacing('+'); }
  @include bp-from(l)  { padding-left: spacing('++'); padding-right: spacing('++'); }
}

.p-edge-l {
                         padding-left: spacing();
  @include bp-from(xs) { padding-left: spacing('+'); }
  @include bp-from(l)  { padding-left: spacing('++'); }
}

.p-edge-r {
                         padding-right: spacing();
  @include bp-from(xs) { padding-right: spacing('+'); }
  @include bp-from(l)  { padding-right: spacing('++'); }
}

.box-sizing-content { box-sizing: content-box; }

// padding all around
.p-container {
  @extend .p-edges;
  padding-top:    spacing('++');
  padding-bottom: spacing('++');
}

.container {
  @extend .wrapper;
  @extend .p-container;
  box-sizing: content-box;
}

.container-h {
  @extend .wrapper;
  @extend .p-edges;
  box-sizing: content-box;
}

.text-wrapper {
  max-width: $text-width;
}

@include each-bp() {
  #{$each-bp}cols {
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
    @include clearfix;
  }

  #{$each-bp}cols--2n > *:nth-child(n)    { clear: none; }
  #{$each-bp}cols--2n > *:nth-child(2n+1) { clear: left; }

  #{$each-bp}cols--3n > *:nth-child(n)    { clear: none; }
  #{$each-bp}cols--3n > *:nth-child(3n+1) { clear: left; }

  #{$each-bp}cols--4n > *:nth-child(n)    { clear: none; }
  #{$each-bp}cols--4n > *:nth-child(4n+1) { clear: left; }

  #{$each-bp}col {
    display: block;
    float: left;
    padding-left:   $gutter/2;
    padding-right:  $gutter/2;
  }
}

@include each-bp() {
  #{$each-bp}left-floater {
    float: left;
    margin-right:  spacing();
    margin-bottom: spacing();
  }
  #{$each-bp}left-floater\+ {
    float: left;
    margin-right:  spacing('+');
    margin-bottom: spacing('+');
  }
  #{$each-bp}right-floater {
    float: right;
    margin-left:   spacing();
    margin-bottom: spacing();
  }
  #{$each-bp}right-floater\+ {
    float: right;
    margin-left:   spacing('+');
    margin-bottom: spacing('+');
  }

  @each $spacing-variant, $spacing-value in $spacings {
    $variant-escaped: str-replace($spacing-variant, '+', '\\+');
    #{$each-bp}stack#{$variant-escaped} > * + * {
      margin-top: $spacing-value;
    }
  }
}

.cells {
  display: table;
  width: 100%;
}

.cell {
  display: table-cell;
}

.m-cols {
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
}

.p-col {
  padding-left:  $gutter/2;
  padding-right: $gutter/2;
}

.stretch-h { width:  100%; }
.stretch-v { height: 100%; }
.stretch {
  @extend .stretch-h;
  @extend .stretch-v;
}
