.valign-top    { vertical-align: top; }
.valign-middle { vertical-align: middle; }
.valign-bottom { vertical-align: bottom; }

.float-left  { float: left; }
.float-right { float: right; }
.float-none  { float: none; }

.center {
  margin-left: auto;
  margin-right: auto;
}

.clear-left  { clear: left; }
.clear-right { clear: right; }
.clear-both  { clear: both; }
.clear-none  { clear: none; }

.ml-auto { margin-left: auto;  }
.mr-auto { margin-right: auto; }
