.border      { border-style: solid; }

.border-1    { border-width: 1px; }
.border-2    { border-width: 2px; }
.border-3    { border-width: 3px; }

.radius-2    { border-radius: 2px; }
.radius-3    { border-radius: 3px; }
.radius-4    { border-radius: 4px; }
.radius-5    { border-radius: 5px; }
.radius-6    { border-radius: 6px; }
.radius-7    { border-radius: 7px; }
.radius-8    { border-radius: 8px; }
.radius-9    { border-radius: 9px; }
.radius-10   { border-radius: 10px; }

.no-radius-top-left     { border-top-left-radius: 0; }
.no-radius-top-right    { border-top-right-radius: 0; }
.no-radius-bottom-left  { border-bottom-left-radius: 0; }
.no-radius-bottom-right { border-bottom-right-radius: 0; }

.no-radius-top  {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.no-radius-bottom  {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.border-top       { border-top-style:    solid; }
.border-right     { border-right-style:  solid; }
.border-bottom    { border-bottom-style: solid; }
.border-left      { border-left-style:   solid; }

.no-border-top    { border-top-style:    none; }
.no-border-right  { border-right-style:  none; }
.no-border-bottom { border-bottom-style: none; }
.no-border-left   { border-left-style:   none; }

.border-stack + .border-stack { border-top-style: solid; }

.radius-full { border-radius: 999px; }

.border-color-transparent   { border-color: transparent; }
.border-color-current       { border-color: currentColor; }
.border-color-inherit       { border-color: inherit; }

.border-color-blue          { border-color: $c-blue; }
.border-color-blue-shade    { border-color: $c-blue-shade; }
.border-color-blue-dark     { border-color: $c-blue-dark; }
.border-color-blue-darker   { border-color: $c-blue-darker; }
.border-color-blue-darkest  { border-color: $c-blue-darkest; }
.border-color-purple        { border-color: $c-purple; }
.border-color-orange        { border-color: $c-orange; }
.border-color-orange-dark   { border-color: $c-orange-dark; }
.border-color-orange-darker { border-color: $c-orange-darker; }
.border-color-invalid       { border-color: $c-invalid; }

.border-color-black         { border-color: black; }
.border-color-white         { border-color: white; }

.border-color-gray-10       { border-color: gray(10%); }
.border-color-gray-15       { border-color: gray(15%); }
.border-color-gray-20       { border-color: gray(20%); }
.border-color-gray-25       { border-color: gray(25%); }
.border-color-gray-30       { border-color: gray(30%); }
.border-color-gray-35       { border-color: gray(35%); }
.border-color-gray-40       { border-color: gray(40%); }
.border-color-gray-45       { border-color: gray(45%); }
.border-color-gray-50       { border-color: gray(50%); }
.border-color-gray-55       { border-color: gray(55%); }
.border-color-gray-60       { border-color: gray(60%); }
.border-color-gray-65       { border-color: gray(65%); }
.border-color-gray-70       { border-color: gray(70%); }
.border-color-gray-75       { border-color: gray(75%); }
.border-color-gray-80       { border-color: gray(80%); }
.border-color-gray-85       { border-color: gray(85%); }
.border-color-gray-90       { border-color: gray(90%); }
.border-color-gray-95       { border-color: gray(95%); }

.border-color-subtle-blue   { border-color: #E0F4FF; }

.border-color-lighten-10    { border-color: rgba(white, 0.10); }
