@include each-bp {
  #{$each-bp}block        { display: block; }
  #{$each-bp}inline       { display: inline; }
  #{$each-bp}inline-block { display: inline-block; }
}

.js .js-hide,
.no-js .no-js-hide { display: none; }
