.target-animate-flash:target {
  animation-name: flash;
  animation-duration: 800ms;
  animation-fill-mode: both;
}

.transition-all {
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.transition-transform {
  transition-property: transform;
}

.transition-color {
  transition-property: color;
}

.filter-grayscale { filter: grayscale(100%); }
.filter-blur-5    { filter: blur(5px); }

.blend-normal      { mix-blend-mode: normal; }
.blend-multiply    { mix-blend-mode: multiply; }
.blend-screen      { mix-blend-mode: screen; }
.blend-overlay     { mix-blend-mode: overlay; }
.blend-darken      { mix-blend-mode: darken; }
.blend-lighten     { mix-blend-mode: lighten; }
.blend-color-dodge { mix-blend-mode: color-dodge; }
.blend-color-burn  { mix-blend-mode: color-burn; }
.blend-hard-light  { mix-blend-mode: hard-light; }
.blend-soft-light  { mix-blend-mode: soft-light; }
.blend-difference  { mix-blend-mode: difference; }
.blend-exclusion   { mix-blend-mode: exclusion; }
.blend-hue         { mix-blend-mode: hue; }
.blend-saturation  { mix-blend-mode: saturation; }
.blend-color       { mix-blend-mode: color; }
.blend-luminosity  { mix-blend-mode: luminosity; }


.transform-origin-center { transform-origin: center; }
.transform-origin-n      { transform-origin: top; }
.transform-origin-ne     { transform-origin: top right; }
.transform-origin-e      { transform-origin: right; }
.transform-origin-se     { transform-origin: right bottom; }
.transform-origin-s      { transform-origin: bottom; }
.transform-origin-sw     { transform-origin: bottom left; }
.transform-origin-w      { transform-origin: left; }
.transform-origin-nw     { transform-origin: top left; }
