// Named Hover Colors
@each $color-keyword, $color-value in $colors {
  .hover-color-#{$color-keyword}:hover,
  .hover-color-#{$color-keyword}:focus {
    color: $color-value;
  }
}
// Named Hover Background Colors
@each $color-keyword, $color-value in map-merge($colors, $bgcolors) {
  .hover-bgcolor-#{$color-keyword}:hover,
  .hover-bgcolor-#{$color-keyword}:focus {
    background-color: $color-value;
  }
}

@include theming {
  @each $keyword in ('main', 'highlight') {
    .hover-color-theme-#{$keyword}:hover   { color: theming($keyword); }
    .hover-bgcolor-theme-#{$keyword}:hover { background-color: theming($keyword); }
  }
}

.hover-cascade:hover .hover-cascade__underline,
.hover-underline:hover { text-decoration: underline; }

.hover-cascade:hover .hover-cascade__border-bottom,
.hover-border-bottom:hover { border-bottom: solid 1px; }

.hover-cascade:hover .hover-cascade__color      { color: inherit; }
.hover-cascade:hover .hover-cascade__decoration { text-decoration: inherit; }
.hover-cascade:hover .hover-cascade__hide       { display: none; }
.hover-cascade:hover .hover-cascade__block      { display: block; }
.hover-cascade:hover .hover-cascade__inline     { display: inline; }


.hover-scale {
  will-change: transform; // enable GPU acceleration
  &:hover { transform: scale(1.05); }
}

.hover-scale-1\.25x {
  will-change: transform; // enable GPU acceleration
  &:hover { transform: scale(1.25); }
}
