.icon-20 {
  width: em(20);
  height: em(20);
}

.icon-16 {
  width: em(16);
  height: em(16);
}

.bgicon-20 {
  background-size: em(20) em(20);
  background-repeat: no-repeat;
}

.bgicon-16 {
  background-size: em(16) em(16);
  background-repeat: no-repeat;
}
