.icon-52 {
  width: em(52);
  height: em(52);
}

.icon-46 {
  width: em(46);
  height: em(46);
}

.icon-26 {
  width: em(26);
  height: em(26);
}

.icon-20 {
  width: em(20);
  height: em(20);
}

.icon-16 {
  width: em(16);
  height: em(16);
}

.icon-scale-50 {
  font-size: 1.5em;
}
.icon-scale-100 {
  font-size: 2em;
}

.bgicon-20 {
  background-size: em(20) em(20);
  background-repeat: no-repeat;
}

.bgicon-16 {
  background-size: em(16) em(16);
  background-repeat: no-repeat;
}
