.w-100 { width: 100%; }
.w1    { width: 1em; }
.w2    { width: 2em; }
.w3    { width: 4em; }
.w4    { width: 8em; }
.w5    { width: 16em; }
.w6    { width: 24em; }
.w7    { width: 32em; }
.w8    { width: 40em; }
.w9    { width: 48em; }
.w10   { width: 64em; }



/* Tachyons */
.mw-100 { max-width: 100%; }
.mw1    { max-width: 1em; }
.mw2    { max-width: 2em; }
.mw3    { max-width: 4em; }
.mw4    { max-width: 8em; }
.mw5    { max-width: 16em; }
.mw6    { max-width: 24em; }
.mw7    { max-width: 32em; }
.mw8    { max-width: 40em; }
.mw9    { max-width: 48em; }
.mw10   { max-width: 64em; }
