@mixin make-spacing {

  $namespace: '';

  $props:     (m margin),
              (p padding);

  $sides:     (''  ''),
              (t  -top),
              (r  -right),
              (b  -bottom),
              (l  -left),
              (h  (-left -right)),
              (v  (-top -bottom));

  $variants:  (''       spacing()),
              ('\\-'    spacing('-')),
              ('\\-\\-' spacing('--')),
              ('\\+'    spacing('+')),
              ('\\+\\+' spacing('++')),
              ('0'      0);

  // margin or padding?
  @each $prop-alias, $prop-name in $props {

    // top, left, right, ...?
    @each $side-alias, $prop-suffixes in $sides {

      // base, -, +, 0, ...?
      @each $variant-alias, $variant-value in $variants {

        // DECLARATION
        .#{$namespace}#{$prop-alias}#{$side-alias}#{$variant-alias} {

          // for compound-rules
          @each $prop-suffix in $prop-suffixes {
            #{$prop-name}#{$prop-suffix}: $variant-value !important;
          }

        } // declaration

      } // $variants

    } // $sides

  } // $props

}

@include make-spacing;
