.u-no-overflow {
  overflow: hidden !important;
}

.u-relative {
  position: relative;
}

.u-visuallyhidden {
  @include visuallyhidden;
}

@include each-bp($min-width: false) {
  #{$each-bp}hide { display: none !important; }
}

.u-text-center {
  text-align: center !important;
}
.u-text-right {
  text-align: right !important;
}