.c-books {

}

.c-books--unpublished {
  background: $c-gray-bg;
}

.c-books__heading {
  @include smallcaps();
  color: $c-blue;
  margin-bottom: 2em;
}
.c-books--unpublished .c-books__heading {
  color: $c-blue;
}