.c-book-button {
  display: inline-block;
  border-radius: 5px;

  border: solid 2px $c-blue;
  background: $c-blue;
  color: $c-blue;

  @include theme-styling {
    border-color: $_base;
    background:   $_base;
    color:        $_base;
  }

  overflow: hidden;
  text-decoration: none;
  &--small {
    font-size: .9em;
  }
  &--wide {
    display: block;
    width: auto;
  }
}

.c-book-button:hover {
  outline: none;
}

.c-book-button > div {
  display: table;
  width: 100%;
}

.c-book-button__text,
.c-book-button__price {
  vertical-align: middle;
  display: table-cell;
  padding: .65em;
}

.c-book-button__text {
  text-align: left;
  background: white;
}

.c-book-button__text__cta {
  font-weight: bold;
}

.c-book-button__text__description {
  font-size: modular(-1);
  margin-top: .25em;
  color: gray(40%);
  strong {
    color: gray(15%);
  }
  .price {
    font-weight: bold;
    .currency {
      opacity: .5;
      display: inline-block;
      font-weight: normal;
    }
  }
}
.c-book-button__text__description__mark {
  color: gray(15%);
  padding-left: .15em;
}

.c-book-button__price {
  background: $c-blue;
  border-left: solid 2px $c-blue;
  color: white;
  width: 3em;
  @include theme-styling {
    background: $_base;
    border-left-color: $_base;
  }
}

.c-book-button__price__number {
  font-size: modular(1);
  font-weight: bold;
}
.c-book-button__price__number__currency,
.c-book-button__price__number__mark {
  font-weight: normal;
  opacity: .6;
}

.c-book-button:hover {
  color:        $c-orange;
  border-color: $c-orange;
  background:   $c-orange;

  .c-book-button__price {
    background:   $c-orange;
    border-color: $c-orange;
    color: white;
  }

  @include theme-styling {
    color:        $_accent;
    border-color: $_accent;
    background:   $_accent;
    .c-book-button__price {
      background:   $_accent;
      border-color: $_accent;
      color: white;
    }
  }
}

.c-book-button--white {
  background: transparent;
  border-color: white;
  color: white;
  .c-book-button__text {
    background: transparent;
  }
  .c-book-button__text__description {
    color: inherit;
    opacity: .75;
  }
  .c-book-button__price {
    background: white;
    color: $c-blue;
    border-color: white;
  }
  &:hover {
    background: white;
    border-color: white;
    color: $c-blue;
    .c-book-button__price {
      background: white;
      border-color: white;
      color: inherit;
    }
  }
}

@each $book, $gradient in $c-book {
  .c-book-button--#{$book} {
    .c-book-button__price { color: map-get($gradient, stop); }
  }
  .c-book-button--#{$book}:hover {
    color: map-get($gradient, stop);
  }
}
