.book__header {
  height: 0;
  padding-bottom: 42%;
  margin-bottom: 5.5%;
}

.book__contents {
  color: gray(50%);
  line-height: 1.3;

  li {
    @include clearfix;
  }

  li:before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    float: left;
    width: 1em;
    margin-left: -1em;
    color: $c-blue;
    @include theme-styling {
      color: $_base;
    }
  }

  li + li {
    margin-top: .8em;
  }

  h3 {
    font-weight: bold;
    color: gray(20%);
  }

  @include bp-upto('m') {
    li {
      padding-left: 1em;
    }
  }

  @include bp-from('l') {
    h3 {
      float: left;
      width: 11em;
      margin-right: 1em;
    }
    h3 + * {
      overflow: auto;
    }
  }
}



.book_meta-info {
  color: gray(50%);
  line-height: 1.3;

  h3 {
    color: gray(20%);
    font-weight: bold;
  }

  li + li {
    margin-top: 1.5em;
  }
}



.c-book__notes {
  background: $code-block-bg;
  padding: 1em;
  border-radius: 4px;
  color: gray(40%);
  line-height: 1.4;
  font-size: modular(-1);
  @include bp-from(m) { font-size: .75em; }

  > * {
    max-width: 36em;
  }

  h3 {
    @include smallcaps;
    font-size: 1em;
    color: $c-blue;
  }

  p {
    margin-top: .7em;
  }

  ul {
    margin-top: .7em;
    margin-bottom: .7em;
  }

  li {
    padding-left: 1em;
    line-height: 1.25;
  }

  li:before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    color: $c-blue;
    width: 1em;
    margin-left: -1em;
  }
  li + li {
    margin-top: .35em;
  }

  a {
    color: $c-blue;
    text-decoration: none;
  }
  a:hover, a:focus {
    outline: none;
    border-bottom: solid 1px;
  }
}
