.c-book-box {
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

.c-book-box__cover {
  position: relative;
  min-height: 1px;
  img {
    border: solid .25em rgba(black, .1);
  }
  @include bp-from(m) {
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
  }
}

.c-book-box__label {
  display: inline-block;
  @include smallcaps;
  border: solid 2px white;
  border-radius: 3px;
  line-height: 1;
  padding: .4em .4em .3em;
}

@each $book, $gradient in $c-book {
  .c-book-box--#{$book} .c-book-box__button .c-button--white,
  .c-book-box--#{$book} .c-book-box__button .c-button--ghost:hover,
  .c-book-box--#{$book} .c-book-box__button .c-button--ghost:focus {
    color: map-get($gradient, stop);
  }
}

.c-book-box .c-book-box__button .c-button--white:hover,
.c-book-box .c-book-box__button .c-button--white:focus {
  color: white;
}

.c-book-box__title {
  font-weight: bold;
  margin-top: .8em;
}

.c-book-box__authors {
  color: rgba(black, .5);
}

.c-book-box--small {
  // border-radius: 6px;

  .c-book-box__label {
    padding: 0;
    border: none;
  }
  .c-book-box__title    { font-size: modular(2); }
  .c-book-box__synopsis { display: none; }
  .c-book-box__authors {
    margin-top: .5em;
    font-size: modular(-1);
  }
  .c-book-box__button {
    margin-top: 1.25em;
  }
}

.c-book-box--big {
  .c-book-box__cover img {
    border-width: .5em;
  }
  .c-book-box__title {
    font-size: modular(4);
    max-width: 12em;
  }
  .c-book-box__synopsis {
    max-width: 26em;
    line-height: 1.25;
    margin-top: .5em;
    font-weight: bold;
  }
  .c-book-box__authors {
    font-size: modular(-1);
    margin-top: 1.5em;
  }
  .c-book-box__button {
    margin-top: 2.5em;
  }
  @include bp-upto(m) {
    .c-book-box__title {
      font-size: modular(4);
    }
  }
  @include bp-upto(s) {
    .c-book-box__cover {
      margin-top: 2.5em;
      border-width: .25em;
    }
    .c-book-box__title {
      font-size: modular(3);
    }
    .c-book-box__synopsis {
      font-size: modular(0);
    }
  }
}
