.c-button {
  appearance: none;

  font-size: .9em;

  display: inline-block;
  margin: 0;
  padding: modular(0);

  font-weight: bold;
  line-height: 1;
  color: white;
  text-decoration: none;
  letter-spacing: .1em;
  word-spacing: .2em;
  text-transform: uppercase;

  border: solid 2px $c-orange;
  border-radius: 5px;
  background: $c-orange;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $c-blue-darkest;
    outline: none;
    background: $c-blue-darkest;
  }
}

.c-button--blue {
  border-color: $c-blue;
  background: $c-blue;
  &:hover,
  &:focus {
    border-color: $c-orange;
    background: $c-orange;
  }
}

.c-button[disabled] {
  border-color: gray(75%);
  background: gray(75%);
  cursor: not-allowed;
}

.c-button--gray {
  border-color: gray(60%);
  background: gray(60%);
  &:hover,
  &:focus {
    border-color: gray(30%);
    background: gray(30%);
  }
}

.c-button--small {
  padding: modular(-1);
}

.c-button--smaller {
  padding: modular(-2);
}

.c-button--wide {
  display: block;
  width: 100%;
  text-align: center;
}

.c-button--big {
  font-size: 1em;
}

.c-button--icon {
  position: relative;
  text-align: left;
  padding: modular(-1);

}
.c-button--icon:after {
  font-weight: bold;
  font-size: modular(1);
  position: absolute;
  right: .5em;
  line-height: 1;
  vertical-align: middle;
  top: 50%;
  margin-top: -.5em;
  height: 1em;
}
.c-button--icon--arrow:after {
  content: "\2192";
}

.c-button--icon--star:after {
  content: "\2605";
  font-size: modular(0);
}

.c-button--ghost {
  background: transparent;
  border-color: white;
  color: white;
  &:hover, &:focus {
    border-color: white;
    background: white;
    color: gray(15%);
  }
}

.c-button--ghost.c-button--blue {
  border-color: $c-blue;
  color: $c-blue;
  &:hover, &:focus {
    background: transparent;
    border-color: $c-orange;
    color: $c-orange;
  }
}

.c-button--white {
  background: white;
  border-color: white;
  color: $c-blue;
  &:hover, &:focus {
    background: transparent;
    color: white;
    border-color: white;
  }
}

.bordered-button {
  display: inline-block;
  margin: 0;
  padding: 1em;
  padding-top: .9em;

  font-weight: bold;
  text-decoration: none;
  line-height: 1;

  border: solid 2px;
  border-radius: 5px;

  // blue with orange hover
  color: $c-blue;
  &:hover, &:focus { color: $c-orange; }
  // base theme color with accent hover
  @include theme-styling {
    color: $_base;
    &:hover, &:focus { color: $_accent; }
  }
}

.bordered-button--accent {
  color: $c-orange;
  @include theme-styling { color: $_accent; }
}


.button-arrow {
  display: flex !important;
  flex-flow: row nowrap;
  align-items: baseline;

  &::after {
    content: '→';
    padding-left: spacing();
    font-weight: bold;
    font-size: modular(1);
    margin-left: auto;
  }

  &.bordered-button::after {
    @include theme-styling { color: $_accent; }
  }
}
