// TODO check if these buttons are used anywhere
.c-button {
  appearance: none;

  font-size: .9em;

  display: inline-block;
  margin: 0;
  padding: modular(0);

  font-weight: bold;
  line-height: 1;
  color: white;
  text-decoration: none;
  letter-spacing: .1em;
  word-spacing: .2em;
  text-transform: uppercase;

  border: solid 2px $c-orange;
  border-radius: 5px;
  background: $c-orange;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $c-blue-darkest;
    outline: none;
    background: $c-blue-darkest;
  }
}

.c-button--blue {
  border-color: $c-blue;
  background: $c-blue;
  &:hover,
  &:focus {
    border-color: $c-orange;
    background: $c-orange;
  }
}

.c-button[disabled] {
  border-color: gray(75%);
  background: gray(75%);
  cursor: not-allowed;
}

.c-button--gray {
  border-color: gray(60%);
  background: gray(60%);
  &:hover,
  &:focus {
    border-color: gray(30%);
    background: gray(30%);
  }
}

.c-button--small {
  padding: modular(-1);
}

.c-button--smaller {
  padding: modular(-2);
}

.c-button--wide {
  display: block;
  width: 100%;
  text-align: center;
}

.c-button--big {
  font-size: 1em;
}

.c-button--icon {
  position: relative;
  text-align: left;
  padding: modular(-1);

}
.c-button--icon:after {
  font-weight: bold;
  font-size: modular(1);
  position: absolute;
  right: .5em;
  line-height: 1;
  vertical-align: middle;
  top: 50%;
  margin-top: -.5em;
  height: 1em;
}
.c-button--icon--arrow:after {
  content: "\2192";
}

.c-button--icon--star:after {
  content: "\2605";
  font-size: modular(0);
}

.c-button--ghost {
  background: transparent;
  border-color: white;
  color: white;
  &:hover, &:focus {
    border-color: white;
    background: white;
    color: gray(15%);
  }
}

.c-button--ghost.c-button--blue {
  border-color: $c-blue;
  color: $c-blue;
  &:hover, &:focus {
    background: transparent;
    border-color: $c-orange;
    color: $c-orange;
  }
}

.c-button--white {
  background: white;
  border-color: white;
  color: $c-blue;
  &:hover, &:focus {
    background: transparent;
    color: white;
    border-color: white;
  }
}





.button {
  display: inline-block;
  margin: 0;

  // Use the same size as the bordered-button, accounting
  // for the 2px border which isn't present here.
  padding:     .9em;
  padding:     calc(.9em + 2px);
  padding-top: .8em;
  padding-top: calc(.8em + 2px);

  border-radius: 5px;

  font-weight: bold;
  text-decoration: none;
  line-height: 1;

  color: white;

  background-color: $c-blue;
  &:hover, &:focus { color: $c-orange; }

  &--themed {
    @include theming {
      background-color: theming('main');
      $highlight-color: if(theming('main') == theming('highlight'), gray(15%), theming('highlight'));
      &:hover, &:focus { background-color: $highlight-color; }
    }
  }

  &--themed-highlight {
    @include theming {
      background-color: theming('highlight');
      &:hover, &:focus { background-color: gray(15%); }
    }
  }
}





.bordered-button {
  display: inline-block;
  margin: 0;

  padding:     .9em;
  padding-top: .8em;

  font-weight: bold;
  text-decoration: none;
  line-height: 1;

  border: solid 2px;
  border-radius: 5px;

  // base theme color with accent hover
  &--themed {
    @include theming {
      color: theming('main');
      $highlight-color: if(theming('main') == theming('highlight'), gray(15%), theming('highlight'));
      &:hover, &:focus { color: $highlight-color; }
    }
  }

  &--white {
    color: white;
    &:hover, &:focus {
      border-color: white;
      background-color: white;
      @include theming {
        color: theming('main');
      }
    }
  }
}





.arrowed-button {
  display: flex !important;
  flex-flow: row nowrap;
  align-items: center;

  &::after {
    content: '→';
    padding-left: spacing();
    font-weight: bold;
    font-size: modular(1);
    margin-left: auto;
  }

  &.bordered-button--themed::after {
    @include theming { color: theming('highlight'); }
  }

  &.bordered-button--white::after {
    color: inherit;
  }
}
