.c-button {
  appearance: none;

  font-size: .9em;

  display: inline-block;
  margin: 0;
  padding: modular(0);

  font-weight: bold;
  line-height: 1;
  color: white;
  text-decoration: none;
  letter-spacing: .1em;
  word-spacing: .2em;
  text-transform: uppercase;

  border: solid 2px $c-orange;
  border-radius: 5px;
  background: $c-orange;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $c-blue-darkest;
    outline: none;
    background: $c-blue-darkest;
  }
}

.c-button--blue {
  border-color: $c-blue;
  background: $c-blue;
  &:hover,
  &:focus {
    border-color: $c-orange;
    background: $c-orange;
  }
}

.c-button[disabled] {
  border-color: gray(75%);
  background: gray(75%);
  cursor: not-allowed;
}

.c-button--small {
  padding: modular(-1);
}

.c-button--smaller {
  padding: modular(-2);
}

.c-button--wide {
  display: block;
  width: 100%;
  text-align: center;
}

.c-button--big {
  font-size: 1em;
}

.c-button--icon {
  position: relative;
  text-align: left;
  padding: modular(-1);

}
.c-button--icon:after {
  font-weight: bold;
  font-size: modular(1);
  position: absolute;
  right: .5em;
  line-height: 1;
  vertical-align: middle;
  top: 50%;
  margin-top: -.5em;
  height: 1em;
}
.c-button--icon--arrow:after {
  content: "\2192";
}

.c-button--icon--star:after {
  content: "\2605";
  font-size: modular(0);
}

.c-button--ghost {
  background: transparent;
  border-color: white;
  color: white;
  &:hover, &:focus {
    border-color: white;
    background: white;
    color: gray(15%);
  }
}

.c-button--white {
  background: white;
  border-color: white;
  color: $c-blue;
  &:hover, &:focus {
    background: transparent;
    color: white;
    border-color: white;
  }
}
