.c-contributors {
  margin-top: -$gutter/2;
  margin-bottom: -$gutter/2;
}

.c-contributor {
  padding-top: $gutter/2;
  padding-bottom: $gutter/2;
}

@include bp-from(m) {
  .c-contributor:hover { background-color: gray(97%); }
}

.c-contributor__profile__picture {
  border-radius: 50%;
  overflow: hidden;
  width: 2.6em;
  height: 2.6em;
  margin-right: $gutter/2;
  img { width: 100%; height: 100%; }
}

.c-contributor__profile__picture--abbr {
  background-color: $c-blue;
  display: table;
}

.c-contributor__profile__picture--abbr abbr {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.c-contributor__profile__name {
  text-decoration: none;
  font-weight: bold;
  color: gray(30%);
  display: inline-block;
  // Prevent clipping of typographic descendants
  padding-bottom: .15em;
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: $c-blue;
    outline: none;
  }
}

.c-contributor__articles {

}

.c-contributor__article {
  & + & { margin-top: 1em; }
}

.c-contributor__article__name {
  line-height: 1.1;
}

.c-contributor__article__name a {
  text-decoration: none;
  color: $c-blue;
  &:visited {
    color: $c-purple;
  }
  &:hover,
  &:focus {
    color: black;
  }
  &:focus {
    outline: none;
  }
}

.c-contributor__article__issue {
  margin-top: .5em;
  font-size: modular(-1);
}

.c-contributor__article__issue a {
  color: gray(50%);
  text-decoration: none;
  &:hover, &:focus {
    color: gray(15%);
    outline: none;
  }
}