.feature-newsletter {
  position: relative;
  max-width: 20em;
}

.feature-newsletter__input,
.feature-newsletter__button {
  @include input-reset;
  font-size: modular(2);
  padding: .25em 0;
  vertical-align: middle;
}

.feature-newsletter__input {
  appearance: none;
  display: block;
  width: 100%;
  padding-right: 2em;
  border-bottom: solid 2px $c-blue;
  color: gray(30%);
  border-radius: 0;

  &::placeholder {
    color: gray(75%);
  }

  &:focus {
    outline: none;
    border-bottom-color: black;
  }
  &.is-invalid {
    @include animate(shake);
  }
}

.feature-newsletter__button {
  position: absolute;
  bottom: 0; right: 0;
  cursor: pointer;
  font-weight: bold;
  color: $c-orange;
  &:hover, &:focus {
    color: black;
    outline: none;
  }
}
