$header-height: 3.7em;
$header-logo-height: 1.85em;

.site-header {
  background: white;
  position: absolute;
  z-index: 1000;
  left: 0; right: 0; top: 0;
  border-top:    solid 1px white;
  border-bottom: solid 1px white;

  &.headroom {
    position: fixed;
    transition: transform 200ms ease-out, border-bottom-color 200ms ease-out;
    &--not-top  { border-bottom-color: gray(85%); }
    &--pinned   { transform: translateY(0%); }
    &--unpinned { transform: translateY(-100%); }
  }

  + * {
    margin-top: $header-height !important;
  }
}

.site-header__nav {
  height: $header-height;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
