.c-issue-unit {
  &:target {
    animation-name: flash;
    animation-duration: 800ms;
    animation-fill-mode: both;
  }
}

.c-issue-unit__cover {

}

.c-issue-unit__cover a:hover,
.c-issue-unit__cover a:focus {
  outline: none;
  > * { opacity: .85; }
}

.c-issue-unit__header {
  margin-top: .85em;
}

.c-issue-unit__header__button {
  appearance: none;
  display: none;
  text-decoration: none;
  border: none;
  border-radius: 0;
  padding: 0;
  background: transparent;
  text-align: left;
  cursor: pointer;

  font-weight: bold;
  color: $c-orange;
  line-height: 1.2;
  &:hover, &:focus {
    outline: none;
    color: black;
  }

  &.is-toggled {
    transform: rotate(180deg);
  }
}


.c-issue-unit__header__name {
  font-size: modular(1);
  color: inherit;
  font-weight: bold;
  line-height: 1.1;
}

.c-issue-unit__header__name a {
  text-decoration: none;
  color: $c-blue;
  &:hover, &:focus {
    outline: none;
    color: black;
  }
}


.c-issue-unit__header__meta {
  margin-top: .5em;
  color: gray(70%);
  @include smallcaps;
  font-weight: normal;
}

.c-issue-unit__toc {
  font-size: modular(-1);
  margin-top: modular(1) * .5;
}

.c-issue-unit__toc__item {

}

.c-issue-unit__toc__item__author {
  font-size: .95em;
  margin-top: .15em;
  display: none;
}

.c-issue-unit__toc__item__link {
  display: block;
  padding-top:    .45em;
  padding-bottom: .45em;
  text-decoration: none;
  color: gray(20%);
  line-height: 1.25;
  outline: none;
  
  // Regular
  .c-issue-unit__toc__item__name                 { color: gray(30%); }
  .c-issue-unit__toc__item__author               { color: gray(60%); }
  // Hover/Focus
  &:hover .c-issue-unit__toc__item__name,
  &:focus .c-issue-unit__toc__item__name         { color: $c-blue; }
  // Visited and Hover/Focus
  &:visited:hover .c-issue-unit__toc__item__name,
  &:visited:focus .c-issue-unit__toc__item__name { color: $c-purple; }
}

[data-view-option='covers-only'] .c-issue-unit {
  .c-issue-unit__header__button     { display: block; }
  .c-issue-unit__toc                { display: none; }
  .c-issue-unit__toc__item__author  { display: block; }
}

[data-view-option='covers-articles'] .c-issue-unit {
  .c-issue-unit__header__button     { display: none; }
  .c-issue-unit__toc                { display: block !important; }
}

[data-view-option='covers-articles-authors'] .c-issue-unit {
  .c-issue-unit__toc                { display: block !important; }
  .c-issue-unit__toc__item__author  { display: block; }
}

@include bp-upto(xs) {
  .c-issue-unit .c-issue-unit__toc {
    display: none !important;
  }
}