$logo-width-height-ratio: 528 / 158;

.logo {
  height: 1.7em;
  width: 1.7em * $logo-width-height-ratio;
  transition: fill 150ms ease-in-out;
}

a.logo:hover,
a .logo:hover {
  [fill] {
    fill: orange;
  }
}
