.logo {
  height: 1.7em;
  width: 1.7em * $logo-width-height-ratio;
  transition: fill 150ms ease-in-out;
}

@mixin logo-colors($base-color, $arrow-and-hover-color) {
  & #letters {
    fill: $base-color;
  }

  & #arrows,
  &:hover #letters {
    fill: $arrow-and-hover-color;
  }
}

@include theming {
  .logo--themed {
    @include logo-colors(theming('nav', gray(30%)), theming('highlight'));
  }
}

.logo--white {
  @include logo-colors(white, rgba(white, 0.75));
}
