$logo-width-height-ratio: 528 / 158;

.logo {
  height: 1.7em;
  width: 1.7em * $logo-width-height-ratio;
  transition: fill 150ms ease-in-out;
}

.logo #letters {
  fill: $c-blue;
}
.logo #arrows,
a.logo:hover #letters,
a .logo:hover #letters {
  fill: $c-orange;
}

@include theme-styling {
  .logo--themed #letters {
    fill: $_base;
  }
  .logo--themed #arrows,
  a.logo--themed:hover #letters,
  a .logo--themed:hover #letters {
    fill: $_accent;
  }
}
