$arrow-pattern-shade: arrow-pattern($arrows: #000000, $opacity: 0.065);
$arrow-pattern-white: arrow-pattern($arrows: #FFFFFF);
$arrow-pattern-light: arrow-pattern($arrows: #FFFFFF, $opacity: 0.2);

// Base arrow pattern
%bg-pattern {
  background-size:       em(300) em(240);
  background-position:   center -1em;
  background-attachment: fixed;
}

// 1. Solid background patterns
// 1.1. Blue background, darker blue arrows.
.bg-pattern-blue {
  @extend %bg-pattern;
  background-color: $c-blue;
  background-image: arrow-pattern($arrows: $c-blue-shade);
}
// 1.2. Dark blue background, blue arrows
.bg-pattern-blue-reverse {
  @extend %bg-pattern;
  background-color: $c-blue-shade;
  background-image: arrow-pattern($arrows: $c-blue);
}
.bg-pattern-orange {
  @extend %bg-pattern;
  background-color: $c-orange;
  background-image: arrow-pattern($arrows: $c-orange-dark);
}
.bg-pattern-orange-reverse {
  @extend %bg-pattern;
  background-color: $c-orange-dark;
  background-image: arrow-pattern($arrows: $c-orange);
}


// 2. Arrows used to build patterns over another background
// 2.1. Black translucent arrows
.bg-pattern-shade {
  @extend %bg-pattern;
  background-image: $arrow-pattern-shade;
}
// 2.2. White translucent
.bg-pattern-light {
  @extend %bg-pattern;
  background-image: $arrow-pattern-light;
}
// 2.3. White arrows
.bg-pattern-white {
  @extend %bg-pattern;
  background-image: $arrow-pattern-white;
}



// 3. Gradient patterns
.bg-pattern-gradient {
  background-size:       em(300) em(240), auto auto;
  background-position:   center -1em,     top left;
  background-attachment: fixed,           scroll;

  @mixin bg-pattern-gradient($start, $stop) {
    background-color: $stop;
    background-image: $arrow-pattern-shade, linear-gradient($start, $stop);
  }

  // 3.1 For Swift Talk
  &--swifttalk {
    @include bg-pattern-gradient(map-get($c-swifttalk, start), map-get($c-swifttalk, stop));
  }

  &--gray-white {
    background-color: white;
    background-image: $arrow-pattern-white, linear-gradient(gray(95%), white 20em, white);
  }

  // 3.2. For each book
  @each $book-slug, $book-gradient in $c-book {
    &--#{$book-slug} {
      @include bg-pattern-gradient(map-get($book-gradient, start), map-get($book-gradient, stop));
    }
  }

}
