.c-post-issue {
  background: gray(97%);
}

.c-post-issue__header {
  @include smallcaps;
  margin-bottom: modular(2);
  color: $c-orange;
}

.c-post-issue__archive__heading {
  font-size: modular(2);
  @include media-from(s) { font-size: modular(3); }
  font-weight: bold;
  margin-bottom: 1em;
}

.c-post-issue__archive__issue > a {
  display: block;
  text-decoration: none;
  line-height: 1.25;
  > * {
    padding-top:    .4em;
    padding-bottom: .4em;
  }
}

.c-post-issue__archive__issue__name {
  color: $c-blue;
}

.c-post-issue__archive__issue > a:hover,
.c-post-issue__archive__issue > a:focus {
  outline: none;
  .c-post-issue__archive__issue__name {
    color: $c-orange;
  }
}

.c-post-issue__archive__issue__number {
  width: 2.75em;
  color: gray(40%);
}
.c-post-issue__archive__issue__number__symbol {
  opacity: .5;
}

.c-post-issue__archive__issue__date {
  text-align: right;
  color: gray(60%);
}