.c-sample {
  display: block;
  text-decoration: none;
  background: gray(95%);
  border-radius: 5px;
  padding: 1em .75em;
}

.c-sample__icon {
  width: 25%;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.c-sample__icon + * {
  padding-left: .75em;
}

.c-sample__title {
  @include bp-from(s) { font-size: modular(-1); }
  color: $c-blue;
  font-weight: bold;
  margin-bottom: .4em;
}

.c-sample__description {
  font-size: modular(-1);
  @include bp-from(s) { font-size: modular(-2); }
  color: gray(30%);
  line-height: 1.25;
}

.c-sample:hover,
.c-sample:focus {
  outline: none;
  background: $c-blue;
  .c-sample__title,
  .c-sample__description {
    color: white;
  }
}