.c-search {

}

.c-search__input {
  @include input-reset();
  padding: 0;
  margin: 0;
  border-bottom: solid 2px transparent;
  padding: 0;
  max-width: 10em;
  vertical-align: baseline;
  padding: .2em 0;
  transition: all 100ms ease-out;
  color: gray(15%);
  cursor: pointer;
  min-width: 3.5em;
  &.is-invalid {
    @include animate(shake);
  }
  &:focus {
    outline: none;
    min-width: 6em;
    border-bottom-color: $c-blue;
    cursor: auto;
  }
            &::placeholder { color: gray(40%); }
  &:hover { &::placeholder { color: black; } }
  &:focus { &::placeholder { color: gray(60%); } }
}

.c-search__input::-webkit-search-decoration,
.c-search__input::-webkit-search-cancel-button { display: none; }