.c-store-modal {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
}

.c-store-modal__prompt {
  font-size: modular(1);
  margin-bottom: .75em;
  font-weight: bold;
  &:before {
    content: "\2193";
    font-weight: bold;
    color: $c-orange;
    float: right;
    margin-left: 1em;
    display: inline-block;
    vertical-align: middle;
  }
}

.c-store-modal__countries {
  
}

.c-store-modal__country {
  border-bottom: solid 1px gray(90%);
  &:first-child {
    border-top: solid 1px gray(90%);
  }
}

.c-store-modal__country__link {
  text-decoration: none;
  display: block;
  padding-top: .75em;
  padding-bottom: .75em;
}

.c-store-modal__country__flag {
  margin-right: 1em;
  display: block;
  width: em(60);
  height: auto;
}

.c-store-modal__country__name {
  font-weight: bold;
  color: $c-blue;
}

.c-store-modal__country__domain {
  font-size: modular(-1);
  margin-top: .25em;
  color: gray(40%);
}

.c-store-modal__country__link:hover,
.c-store-modal__country__link:focus {
  outline: none;
  .c-store-modal__country__flag {
    opacity: 0.9;
  }
  .c-store-modal__country__name {
    color: $c-orange;
  }
  .c-store-modal__country__domain {
    color: gray(15%);
  }
}