.tab-control {
  font-size: modular(-1);
  color: white;
  display: block;
  font-weight: bold;
  padding: .75em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-decoration: none;

  svg {
    display: inline-block;
    width: em(20) * strip-units(modular(1));
    height: em(20) * strip-units(modular(1));
    float: left;
    margin-top: -.1em;
    margin-right: .35em;
  }

  svg *[fill] {
    fill: currentColor;
  }

  &.is-active,
  &[aria-selected='true'] {
    color: $c-blue;
    background: white;
  }
}

// .tab-panels {}
.tab-panel {
  display: none;

  &.is-active,
  &[aria-hidden='false'] {
    display: block;
  }
}
