.links {
  a {
    text-decoration: none;
    color: color('blue');
    @include theming { color: theming('main'); }
    &:hover, &:focus { border-bottom: solid 1px; }
    &:focus { outline: none; }
  }
}
